.banner {
  background-color: #522806;
  color: #000;
  min-height: 6em;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 9em;
}

.nav {
  text-align: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a span {
  border-bottom: .3rem solid #bea59b;
}

.nav a:hover span,
.nav a:focus span {
  border-bottom-color: #fff;
}

.btn-banner {
  background-color: #e64058;
  border-color: #e64058;
  color: #000;
}

.lets, .get {
  background-color: #fff;
  color: #000;
}

.color {
  background-color: #ddd;
}

.img {
  width: 100%;
  max-width: 200px;
}

.cardground {
  background-color: #efefef;
}

.table-wrapper {
  background-color: #fff;
}

.cards {
  background-color: #fff;
  border-radius: 6px;
}

.fishing-day {
  background-color: #e64058;
  border-color: #e64058;
}

.card1 {
  background-color: #efefef;
}

.card2 {
  background-color: #efefef;
}

.card3 {
  background-color: #efefef;
}

.wrap {
  margin-left: .1em;
  margin-right: .1em;
  max-width: 16em;
  width: 100%;
}

.sigh-ups {
  position: relative;
}

.img-s {
  position: absolute;
}

.sigh-banner {
  background-color: #fff;
  border-color: #fff;
}
